* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  background-color: #f1f1f1;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

td {
  background-color: #2ecc71;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 1.5rem;
}

h1 {
    text-align: center;
    padding: 2rem;
}

form {
    text-align: center;
    padding: 2rem;
}

.guess_field {
    padding: .5rem 1rem;
    font-size: 1.02rem;
}

.guess_submit {
    padding: .5rem 1rem;
    background-color: palevioletred;
    border: none;
    border-radius: .2rem;
    color: white;
    font-size: 1.2rem;
}

